.actor-details__wrapper {
  margin: 40px auto;
  max-width: 1200px;
  padding: 40px;
  flex: 1 0 auto;
}

.actor-details {
    display: flex;
    background-color: #f5f5f588;
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.2);
  }
  
  .actor-details__poster {
    width: 400px;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .actor-details__info {
    margin-left: 40px;
  }
  
  .actor-details__title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .actor-details__overview {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 40px;
  }
  
  .actor-details__info p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Adaptive styles for screens smaller than 768px */
  /* @media screen and (max-width: 768px) {
    .actor-details {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .actor-details__poster {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .actor-details__info {
      margin-left: 0;
      text-align: center;
    }
  
    .actor-details__title {
      font-size: 36px;
      margin-bottom: 10px;
    }
  
    .actor-details__overview {
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 30px;
    }
  
    .actor-details__info p {
      font-size: 20px;
      margin-bottom: 10px;
    }
  } */