.actor-details__wrapper {
  margin: 40px auto;
  max-width: 1200px;
  padding: 40px;
  flex: 1 0 auto;
}

.actor-details {
  display: flex;
  background-color: #f5f5f588;
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.actor-details__poster {
  width: 400px;
  height: 600px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.actor-details__bio {
  margin-left: 40px;
}

.actor-details__title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.actor-details__bio h2 {
  font-size: 30px;
}

.actor-details__overview {
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 40px;
}

.actor-details__info p {
  font-size: 24px;
  margin: 20px 0;
}

.actor-detail {
  font-weight: 600;
}
.actor-detail span {
  font-weight: 400;
  margin-bottom: 10px;
}

.actor-detail--known-for {
  display: flex;
  flex-direction: column;
}


@media (max-width: 768px) {

  .actor-details__wrapper {
    margin: 20px auto;
    max-width: 360px;
    padding: 10px;
  }

    .actor-details {
      position: relative;
      flex-direction: column;
      align-items: center;
      padding: 50px 10px 20px;
    }
  
    .actor-details__poster {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .actor-details__info {
      margin-left: 0;
      text-align: center;
    }
  
    .actor-details__title {
      position: absolute;
      top: 0;
      left: 20%;
      font-size: 30px;
      margin-bottom: 10px;
    }
  
    .actor-details__overview {
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 30px;
    }
  
    .actor-details__bio {
     margin-left: 0;
    }
    .actor-details__bio h2 {
     text-align: center;
     font-size: 30px;
    }
    .actor-details__info p {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
