.footer {
    background: #130c45 url(../../images/background.png) 0 50%/100% auto no-repeat;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .footer__content p {
    margin: 0;
  }